<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button @click="submitData">提交数据</button>
        <ul>
            <todo-item v-bind:content="item"
                       v-for="item in list">
            </todo-item>
        </ul>
    </div>

</body>
<script>
    Vue.component('TodoItem',{
        props : ['content'],
        template : '<li>{{content}}</li>'
    });
    var app = new Vue({
        el : '#app',
        data : {
           list : [] ,
            inputValue : ''
        },
        methods : {
            submitData : function () {
                this.list.push(this.inputValue);
                this.inputValue = '';
            }
        }
    });
</script>
</html>