<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="submitData">提交数据</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>

</body>
<script>

    var app = new Vue({
        el : '#app',
        data : {
            list : [],
            inputValue : ''
        },
        methods: {
            submitData : function () {
               this.list.push(this.inputValue);
               this.inputValue = '';
            }
        }
    });

</script>
</html>